 <div class="user-details">
  <h1> About Me</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Bachelor</h2>
      <image src="../assets/img/aust.jpg" alt="AUST"></image>
      <p>Anhui University of Science and Technology</p>
      <p>School of Mechanical Engineering</p>
      <p>2009-2013</p>
    </div>
    <div class="tech">
      <h2>Master</h2>
      <image src="../assets/img/ustc.jpg" alt="USTC"></image>
      <p>University of Science and Technology of China</p>
      <p>School of Software Engineering</p>
      <p>2017-2020</p>
    </div>
</div>
